        <br>

        <div class="row">
            <div class="col-md-12" align="center">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{sessionUser.name}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                    <a href="/loginForm" class="btn btn-success active" role="button">Local Login</a>
                {{/userName}}
            </div>
        </div>

        <br>