{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="hidden" id="postEmail" value="{{post.email}}"/>
                <input type="hidden" id="userEmail" value="{{sessionUser.email}}"/>
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly/>
            </div>
            <div class="form-group">
                <label for="title">제 목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}"/>
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly/>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취 소</a>
        <button type="button" class="btn btn-primary" id="btn-update" style="display: none;">수 정</button>
        <button type="button" class="btn btn-danger" id="btn-delete" style="display: none;">삭 제</button>
    </div>
</div>

<script>
    window.onload = function () {
        if(document.getElementById("postEmail").value == document.getElementById("userEmail").value){
            document.getElementById("btn-update").style.display = "inline-block";
            document.getElementById("btn-delete").style.display = "inline-block";
        }
    };
</script>

{{>layout/footer}}